PINECONE_API_KEY=your_api_key_here
PINECONE_INDEX=

EMBEDDING_PROVIDER_URL=mock
EMBEDDING_DIMENSION=1024
RERANKER_PROVIDER_URL=mock

#
LANGSMITH_API_KEY=your_api_key_here
LANGSMITH_PROJECT=My First App
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com